# Build
*.exe
*.out
*.o
*.obj
*.ilk
*.pdb
*.idb
*.exp
*.lib
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.vcxproj.user
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# System
.DS_Store
Thumbs.db
desktop.ini

# Office temp
~$*
*.tmp
